.LogementBody{
font-family: Montserrat;
}
.titreLogement{
    font-size:30px;
    font-weight: 500;
    letter-spacing: 0em;
}
.lieu{
    position: relative;
    top: 220px;
    left: 150px;
    color: #ff6060;
}
.location {
    font-size: 22px;
}
.info{
    display: flex;
    justify-content: space-around;
    width:500px;
    position: relative;
    top: 240px;
    left: 130px;
    color: white;  
}
.tags{
    width: 250px;
    height: 30px;
    background-color: #ff6060;
    margin: 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}