.LogementBody{
width: 83%;
font-family: Montserrat;
position: relative;
top: 200px;
margin-left: 150px;
}
.titreLogement{
    font-size:30px;
    font-weight: 500;
    letter-spacing: 0em;
}
.lieu{
    width: 85%;
    color: #ff6060;
}
.location {
    font-size: 22px;
}
.info {
    display: flex;
    justify-content: space-around;
    width: 500px;
    position: relative;
    top: 30px;
    color: white;
}
.tags{
  display: flex;  
}
.Host img{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 95%;
    top: 15px;
    border-radius: 50%;
    background: #C4C4C4;
    color: #000;
}
.nom{
    height: 52px;
    width: 93px;
    position: absolute;
    top: 5px;
    left: 87.5%;
    color: #ff6060;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;
    font-family: Montserrat;
}
.stars{
    height: 36px;
    width: 196px;
    left: 87.5%;
    border-radius: 0px;
   position: relative;
    background-color: aquamarine;
}
