.rectangles{
    height: 47px;
    width: 70%;
    margin-left: 40px;
    border-radius: 5px;
    text-align: left;
    background: #FF6060;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 20px;
}
.titreRectangles{
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
    margin-left: 10px;
}






