.rectangles{
    height: 47px;
    width: 80%;
    border-radius: 5px;
    position: relative;
    top: 500px;
    left: 189px;
    text-align: left;
    background: #FF6060;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 20px;
}
.vector{
    width: 20px;
    height: 10px;
    position: absolute;
    top: 20px;
    margin-left: 94%;
}
.titreRectangles{
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}


