.background{
    background: #000000;
    mix-blend-mode: darken;
    width:80%;
    height: 223px;
    left: 10%;
    top: 200px;
    border-radius: 25px;
    position: absolute;
}
.section1{
   margin-bottom: 0%;
}
.section1 img{
    width: 100%;
    height: 223px;
    position: relative;
    top: -20px;
    opacity: 0.8;
    object-fit: cover;
    border-radius: 25px;
}
.text{
    color: white;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    left: 26%;
    right: 25.14%;
    top: 24.32%;
    bottom: 69.04%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
}



