.background{
    background: #000000;
    width:70%;
    height: 223px;
    top: 150px;
    border-radius: 25px;
    position:relative;
    margin: auto;
}
.section1{
    margin-bottom: 0%;
}
.section1 img{
    width: 100%;
    height: 223px;
    opacity: 0.8;
    object-fit: cover;
    border-radius: 25px;
}
.text{
    color: white;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    right: 25.14%;
    top: 24.32%;
    bottom: 69.04%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
}


/* ************* Media query ************ */
@media screen and (min-width: 375px) and (max-width: 767px) {
    
    .background {
        height: 111px;
        width: 91%;
        overflow: hidden;
        margin-left: 18px;
    }
    .text{
        width: 222px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 400;
        left: 30px;
    }
    .section1 img{
        width: 100%;
        position: relative;
        top: -22px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
    .background{
        width: 85%;
        margin: auto;
    }
    .text{
        width: 350px;
        left: 50px;
        font-size: 37px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
    .text{
        margin-left: 20px;
        font-size: 37px;
        line-height: 0;
    }
}