.kasa-banner {
    color: #FF6060;
    text-align: left;
    padding: 32px;
   /* border-bottom: solid 3px black; */
   position: absolute;
left: 0%;
right: 95.62%;
top: 0%;
bottom: 8.45%;

background: #FF6060;
}