.carroussel{
    width: 82.5%;
    height: 415px;
    position: relative;
    left: 150px;
    top: 200px;
    border-radius: 25px;
    background-color: lightgoldenrodyellow;
}
.vectorGauche{
    height: 79px;
    width: 46px;
    position: relative;
    left: 2%;
    top: 168px;
}
.vectorDroite{
    height: 79px;
    width: 46px;
    position: absolute;
    top: 168px;
    left: 93%;
}

