.carroussel{
    width: 83%;
    height: 415px;
    position: relative;
    left: 150px;
    top: 270px;
    border-radius: 25px;
}
.vectorGauche{
    height: 79px;
    width: 46px;
    position: absolute;
    left: 1%;
    top: 70px;
    z-index: 100;
}
.vectorDroite{
    height: 79px;
    width: 46px;
    position:absolute;
    top: 70px;
    left: 95.7%;
    z-index: 100;
}
img.apptInt{
    width: 100%;
    height: 415px;
    position:absolute;
    top: -100px;
    border-radius: 10px;
    object-fit: cover;
}



/* ************* Media query ************ */
@media screen and (min-width: 370px) and (max-width: 767px) {
    .carroussel{
        left: 10px;
        width: 91vw;
        height: 150px;
    }
    img.apptInt{
        height: 255px;
    }
    .vectorGauche, .vectorDroite{
        height: 49px;
        width: 26px;
        top: 0px;
    }
    .vectorDroite{
        left: 92.5%;
    }
}

@media screen and (min-width:768px) and (max-width: 1200px) {
.vectorDroite{
    left: 92.5%;
}
.carroussel{
    left: 0;
    margin: auto;
}
}

@media screen and (min-width:1200px) and (max-width: 1400px) {
.vectorDroite{
    left: 94%;
}
}