.carroussel{
    width: 83%;
    height: 415px;
    position: relative;
    left: 150px;
    top: 270px;
    border-radius: 25px;
}
.vectorGauche{
    height: 79px;
    width: 46px;
    position: absolute;
    left: 2%;
    top: 70px;
    z-index: 100;
}
.vectorDroite{
    height: 79px;
    width: 46px;
    position: absolute;
    top: 70px;
    left: 93%;
    z-index: 100;
}
img.apptInt{
    width: 100%;
    height: 415px;
    position:absolute;
    top: -100px;
    border-radius: 25px;
    object-fit: cover;
}
