.Collapse{
    height: auto;
    position: relative;
    top: -71px;
    background-color: #F7F7F7; 
    border-radius: 10px;
}
.ouvert, .fermé {
    position: relative;
    top: -27px;
    left: 94%;
    background-color: #ff6060;
    border: #ff6060;
}
.vectorhaut, .vectorbas{
    width: 20px;
    height: 10px;
    background-color: #ff6060;
    position: relative;
    top: -5px;
}
.texteCollapse{
    width: 90%;
    position: relative;
    top: -15px;
    left: 3%;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    color: #ff6060;
}
