.Page404{
    position: absolute;
    left: 33%;
    top: 18%;
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    line-height: 142.6%;
    color: #FF6060;
}
.oups{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    top: 59%;
    left: 21%;
    right: 21%;
    bottom: 35%;
    color: #FF6060;
}
.oups:hover{
    text-decoration: underline 2px rgb(69, 186, 240);
}
.retour a{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    top: 76%;
    left: 37%;
    right: 40%;
    color: #FF6060;
    text-decoration-line: underline;
}
.retour a:hover{
    text-decoration: underline rgb(69, 186, 240);
}


/* ************* Media query ************ */
@media screen and (min-width: 375px) and (max-width: 1440px) {
    .Page404{
        width: 198px;
        height: 99px;
        font-weight: 500;
        font-size: 100px;
        left: 25%;
        font-weight: 700;
    }
    .oups{
        width: 320px;
        top: 340px;
        left: 15px;
        font-size: 18px;
        margin-left: 10px;
    }
    .retour a{
        width: 335px;
        top: 550px;
        left: 20px;
        font-size: 14px;
    }  
    .spanResponsive{
        width: 200px;
        display: block;
        padding-left: 60px;
        line-height: 2rem;
    }
}
