.information{
    width: 85%;
    display: flex;
    margin-left: 155px;
    position: relative;
    top: 220px;
}
.description {
    width: 100%;
    margin-right: 50px;
}

.tagsFL{
    width: 155px;
    height: 30px;
    background-color: #ff6060;
    margin-right: 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: 0em;
    text-align: center;
}