.kasa-footer{
    height: 209px;
    width: 70%;
    position: relative;
    top: 600px; 
    margin: auto;
    border-radius: 0px;
    background: #000000;
}
.kasa-Footer{
    padding-top: 50px;
}
.texte_footer{
    position: relative;
    left: 37%;
    top: 20px;
}
.logoK-footer{
    height: 35px;
    width: 31px;
    position: relative;
    left: 45.3%; 
    filter: invert(100%) sepia(0%) saturate(7469%) hue-rotate(100deg) brightness(118%) contrast(200%)
}
.logo-footer {
    height: 30px;
    width: 27px;
    position: relative;
    left: 45.5%;
    filter: invert(100%) sepia(0%) saturate(7469%) hue-rotate(100deg) brightness(118%) contrast(200%) 
}
.logo1-footer{
    height: 9px;
    width: 3px;
    position: relative;
    left: 45%;
    filter: invert(100%) sepia(0%) saturate(7469%) hue-rotate(100deg) brightness(118%) contrast(200%)   
}
.logoS-footer{
    height: 28px;
    width: 23px;
    position: relative;
    left: 45.65%;
    filter: invert(100%) sepia(0%) saturate(7469%) hue-rotate(100deg) brightness(118%) contrast(200%)
}
.logoA-footer{
    height: 28px;
    width: 24px;
    position: relative;
    left: 46%;
    filter: invert(100%) sepia(0%) saturate(7469%) hue-rotate(100deg) brightness(118%) contrast(200%)
}



/* ****************Media query***************** */
@media screen and (min-width: 375px) and (max-width: 767px) {
    
    .kasa-footer {
        width: 120%;
        position: relative;
        left: 0px;
        top: 450px;
    }
    .kasa-Footer{
        position: relative;
        left: -40px;
    }
    .logoK-footer {
        width: 27px;
        height: 33px;
    }
    .logo-footer {
        width: 24px;
        height: 25px;
    }
    .logo1-footer {
        position: relative;
        left: 165px;
    }
    .logoS-footer {
        width: 19px;
        height: 21px;
    }
    .logoA-footer {
        width: 20px;
        height: 21px;
    }
    .texte_footer {
        width: 44%;
        position: relative;
        left: 90px;
        top: 0px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
.kasa-footer{
    width: auto;
    left: 0;
}
}