.Gallery{
display: inline-grid;
}

@media screen and (min-width: 768px) and (max-width: 1153px) {
.Gallery{
    margin-left: 0;
}
}


@media screen and (min-width: 768px) and (max-width: 1200px){
.Gallery{
    margin-left: 11px;
}
}

