.Gallery{
display: inline-grid;
}

@media screen and (min-width: 768px) and (max-width: 1200px){
.Gallery{
    margin-left: 11px;
}
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
.Gallery{
    margin-left: 2%;
}
}

@media screen and (min-width: 1400px) and (max-width: 1669px) {
.Gallery{
    margin-left: 1%;
}
}
