.kasa-header {
    color: #FF6060;
    position: relative;
    width: 70%;
    height: 68px;
    margin: auto;
    top: 40px;
    display: flex;
    justify-content: space-between;
}
.logoK{
    position: absolute;
    left: 0%;
    right: 95.62%;
    top: 0%;
}
.logo {
    position: absolute;
    left: 4.86%;
    right: 91.43%;
    top: 21.53%;
    bottom: 0%; 
}
.logo1{
    position: absolute;
    left: 7.4%;
    right: 80%;
    top: 68.66%;
}
.logoS{
    position: absolute;
    left: 9.58%;
    right: 87.24%;
    top: 21.53%;
}
.logoA{
    position: absolute;
    left: 13.66%;
    right: 83.04%;
    top: 21.25%;
}
#navigation {
    position: absolute;
    left: 75.08%;
    right: 0%;
    top: 25%;
    bottom: 25%;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
}
a.active {
    text-decoration: underline #FF6060;
}
.responsiveAccueil, .responsiveApropos{
    display: none;
}
.Accueil{
    width: 136px;
    height: 34px;
    left: 931px;
    top: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    text-align: right;
    list-style: none;
    color: #FF6060;
}
.Accueil:hover{
    text-decoration-line: underline;
}
.Apropos{
    width: 116px;
    height: 34px;
    right: 0%;
    top: 17px;
    bottom: 25%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    list-style: none;
    color: #FF6060;
}
.Apropos:hover{
    text-decoration-line: underline;
}


/* ************* Media query ************ */
@media screen and (min-width: 375px) and (max-width: 767px) {
    .kasa-header {
        position: absolute;
        width: 52%;
        justify-content: space-between;
        height: 58px;
        top: 40px;
        margin: 18px;
    }
    .responsiveAccueil, .responsiveApropos{
        display: inline;
        font-size: 16px;
        font-weight: 400;
        color: #FF6060;
        margin-left: 20px;
    }
    .logoK {
        position: absolute;
        bottom: 8.45%;
        height: 43px;
        width: 37px;
        left: 0px;
        top: 0px;
        border-radius: 0px;
    }
    .logo {
        position: absolute;
        left: 15%;
        top: 21.53%;
        bottom: 0%;
        height: 36px;
        width: 31px;
        left: 41px;
        top: 10px;
        border-radius: 0px;
    }
    .logo1 {
        position: absolute;
        left: 23%;
        top: 70%;
        bottom: 8.17%;
        height: 10px;
        width: 3px;
        left: 63px;
        top: 32px;
        border-radius: 0px;
    }
    .logoS {
        position: absolute;
        left: 28%;
        top: 21.53%;
        bottom: 7.89%;
        height: 33px;
        width: 27px;
        left: 81px;
        top: 10px;
        border-radius: 0px;
    }
    .logoA {
        position: absolute;
        left: 40%;
        top: 21.25%;
        bottom: 7.9%;
        height: 33px;
        width: 28px;
        left: 116px;
        top: 9px;
        border-radius: 0px;
    }
    .Accueil {
        display: none;
    }
    .Apropos {
        display: none;
    }
    #navigation {
        position: relative;
    }
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
.kasa-header{
    width: 78%;
    margin: auto;
}
.logo{
left: 9%;
}
.logo1{
    left: 13.5%;
}
.logoS{
    left: 17%;
    top: 15px;
}
.logoA{
    left: 23%;
    top: 15px;
}
#navigation{
   width: 50%;
   left: 55%;
   top: 30px;
}
.Accueil, .Apropos{
font-size: 22px;
 }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
.logo{
    left: 5.5%;
}
.logo1{
    left: 8%;
}
.logoS{
    left: 10%;
}
.logoA{
    left: 14%;
}
.Accueil, .Apropos{
    margin-left: 10px;
    font-size: 20px;
}
}

